@model IEnumerable<BankProject.Loan>

@{
    ViewBag.Title = "Index";
}

<h2>Loans</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.customer.fName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.interest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.locked)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.customer.fName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.interest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.locked)
        </td>
        <td>
            @Html.ActionLink("Make Installment", "Payment", new { id = item.loanID }) |
        </td>
    </tr>
}

</table>
