@model BankProject.bankAccount

@{
    ViewBag.Title = "Transfer";

}
@Html.Raw(TempData["msg"])
<h2>Make A Transfer</h2>

@using (Html.BeginForm("Transfer", "bankAccounts", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.accountID)


        <div class="form-group">
            From Account: @Html.TextBoxFor(model => model.accountID, new { @class = "form-control", @readonly = "true" })
            Remaining Balance: @Html.DisplayFor(model => model.balance) <br />
            To Account: <input type="number" class="form-control" name="id2"/>
            Transfer amount: <input type="number" name="amount" class="form-control" min="1"/><br />
            <input type="submit" value="Transfer" class="btn btn-default" />

        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Accounts", "userAccounts", new { id = Model.customerID })
</div>
